<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @status.user.profile_name %>

<p>
  <b>Content:</b>
  <%= @status.content %>
</p>

<%= link_to 'Back', statuses_path %>
<% if @status.user == current_user %>
 | 
<%= link_to 'Edit', edit_status_path(@status) %>
<% end %>