<!DOCTYPE html>
<html>
<head>
  <title>PhilledIn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="/pheed" class="brand">PhilledIn</a>
				<% if current_user %>
					<ul class="nav pull-right">
					<li><%=link_to "Sign Out", logout_path %>
					</ul>
					<ul class="nav pull-right">
					<li><%=link_to "Edit Account", edit_path %>
					</ul>
					<ul class="nav pull-right">
					<li><%=link_to current_user.profile_name, "/" + current_user.profile_name %>
					</ul>
				<% else %>
					<ul class="nav pull-right">
					<li><%=link_to "Sign In", login_path %>
					</ul>
					<ul class="nav pull-right">
					<li><%=link_to "Register Now!", register_path %>
					</ul>
				<% end %>
				
			</div>
		</div>
	</div>
<div class="container-fluid">
	<% flash.each do |type, message| %>
	<% if flash[:notice] %>
		<div class="alert <%= flash_class type %>">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
			<% end %>
		</div>
	<% end %>
<div class="row-fluid">
	<div class="span2"></div>
	<div class="span10">
<%= yield %>
	</div>
</div>
<footer class="common">
	<ul class="copy">
        <li class="noimg"><a title="About Wolfram|Alpha" href="/about.html">About</a> | 
        	<a title="Wolfram|Alpha Terms of Use" href="/termsofuse.html">Terms</a> | 
        	<a title="Wolfram|Alpha Privacy Policy" href="/privacypolicy.html">Privacy</a></li>
    </ul>
    <ul class="copy">
		<li class="noimg">
		© 2013 PhilledIn
		<a href="http://localhost:3000/pheed">PMC inCOOPERated</a>
		Company
		</li>
	</ul>	
</footer>
</div>
</div>
</body>
</html>
